<div class="rates">
  <div class="title-page">
    <h1>Gráfico de cotação</h1>
  </div>

  <div class="rates-buttons p-2">
    <div class="row">
      <div class="col-md-12">
        <div class="row justify-content-around">
          <%= link_to "Dolar X Real", rates_path(currency: 'USDBRL'), class: "btn btn-outline-dark btn-lg" %>

          <%= link_to "Dolar X Euro", rates_path(currency: 'USDEUR'), class: "btn btn-outline-dark btn-lg" %>

          <%= link_to "Dolar X Peso (Argentino)", rates_path(currency: 'USDARS'), class: "btn btn-outline-dark btn-lg" %>
        </div>
      </div>
    </div>
  </div>

  <div class="graphic p-4">
    <div class="row">
      <div class="col-md-12">
        <%= high_chart("rate_graphic", @chart) %>
      </div>
    </div>
  </div>
</div>
