<div class="rates">
  <div class="title-page">
    <h1>Cotação monetária</h1>
  </div>

  <div class="rates-buttons p-2">
    <div class="row">
      <div class="col-md-12">
        <div class="row justify-content-around">
          <button type="button" name="button" class="btn btn-outline-dark btn-lg">
            REAL vs DOLAR
          </button>

          <button type="button" name="button" class="btn btn-outline-dark btn-lg">
            REAL vs EURO
          </button>

          <button type="button" name="button" class="btn btn-outline-dark btn-lg">
            REAL vs PESOS
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="graphic p-4">
    <div class="row">
      <div class="col-md-12">
        <%= high_chart("rate_graphic", @chart) %>
      </div>
    </div>
  </div>
</div>
